<div class="contain">
    <div class="product__item">
        <label for="">Procenti no</label>
        <h3 class="light">{{proc}}</h3>
    </div>
    <div class="product__item">
        <label for="">Summa līdz</label>
        <h3 class="light">{{summ}}</h3>
    </div>
    <div class="product__item">
        <label for="">Termiņš līdz</label>
        <h3 class="light">{{term}}</h3>
    </div>
    <div class="product__item">
        <label for="">Izskatīšana</label>
        <h3 class="light">~ {{izr}}</h3>
    </div>
</div>
