<div class="animation_embed">
    <div id="credify_icon1__animation_container">
        <canvas id="credify_icon1__canvas"></canvas>
        <div id="credify_icon1__dom_overlay_container" >
        </div>
    </div>
</div>
