<div class="animation_embed">
    <div id="credify_icon2__animation_container">
        <canvas id="credify_icon2__canvas"></canvas>
        <div id="credify_icon2__dom_overlay_container" >
        </div>
    </div>
</div>
