<div class="animation_embed">
    <div id="credify_main_image__animation_container">
        <canvas id="credify_main_image__canvas"></canvas>
        <div id="credify_main_image__dom_overlay_container" >
        </div>
    </div>
</div>
