<div class="row">
    <div class="col-sm-6 col-md-12">
        <div class="aside__block aside--spaced bg--gray-neon">
            <h3>Priekšrocības</h3>
            <ul class="color-primary">
                {% for item in pri %}
                    <li>{{item}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if infot %}
    <div class="col-sm-6 col-md-12">
        <div class="aside__block">
            <p class="icon-in-text">
                <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico-info"></svg>
                <small class="text muted">{{infot}}</small>
                {# <small class="text muted">Aizdevumam var pieteikties, ja Jums vai citai personai pieder nekustamais īpašums Latvijas teritorijā, kas var būt kā aizdevuma nodrošinājums. Tāpat par nodrošinājumu var kalpot iegādājamais īpašums. </small> #}
            </p>
        </div>
    </div>
    {% endif %}
</div>
{# 
<div class="aside__block aside--spaced bg--gray-neon">
    <h4>Sazinies ar mums</h4>

    <div class="icon-in-text">
        <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico-phone"></svg>
        <a class="dark" href="tel:62005555">6200&nbsp;5555</a>
    </div>
    
    <div class="icon-in-text">
        <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico-mail"></svg>
        <a class="dark" href="mailto:info@credify.lv">info@credify.lv</a>
    </div>
</div>
 #}
