<section class="off-canvas off-canvas--from-top bg--pattern-gray" id='offcanvas--contacts'>
    <button class="off-canvas__close_btn" data-close aria-label="Close" type="button">&times;</button>
    <div class="off-canvas__contain section--contacts section--spaced bg--pattern-gray">
        
        <div class="row hide show-lg">
            <div class="col-xs-12 col-lg-4">
                <strong>Klientu atbalsts</strong>
                <p class="light muted">
                    Jebkuru jautājumu vai neskaidrību gadījumā aicinām sazināties ar mūsu klientu atbalsta komandu.
                </p>
                <hr>
            </div>
            <div class="col-xs-12 col-lg-2">
                <strong>Darba laiks</strong>
                <p class="light muted">
                    Darba dienās: <br>
                    Sestdienās: <br>
                    Svētdienās:  <br>
                </p>
            </div>
            <div class="col-xs-12 col-lg-2">
                <strong>&nbsp;</strong>
                <p class="light muted">
                    09:00 – 18:00 <br>
                    10:00 – 14:00 <br>
                    Brīvs <br>
                </p>
                <hr>
            </div>
            <div class="col-xs-12 col-lg-4">
                <strong>SIA Safegate Technologies</strong>
                <p class="light muted">
                    Krišjāņa Valdemāra iela 38,  <br>
                    Rīga, LV-1010, Latvija <br>
                    Reģ. Nr.: XXXXXXXXXXX <br>
                    PVN Reģ. Nr.: LVXXXXXXXXXXX <br>
                </p>
                <hr>
            </div>

            <div class="col-xs-12">
                <span class="icon-in-text icon-in-text--inline">
                    <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--phone"></svg>
                    <a class="light " href="tel:62005555">6200&nbsp;5555</a>
                </span>
                &nbsp;
                <span class="icon-in-text icon-in-text--inline">
                    <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--mail"></svg>
                    <a class="light " href="mailto:info@credify.lv">info@credify.lv</a>
                </span>
            </div>
        </div>

        <div class="row hide-lg">
            <div class="col-xs-12">
                <strong>SIA Safegate Technologies</strong>
                <p class="light muted">
                    Krišjāņa Valdemāra iela 38,  <br>
                    Rīga, LV-1010, Latvija <br>
                    Reģ. Nr.: XXXXXXXXXXX <br>
                    PVN Reģ. Nr.: LVXXXXXXXXXXX <br>
                </p>
                <hr>
            </div>
            
            <div class="col-xs-12 ">
                <strong>Klientu atbalsts</strong>
                <p class="light muted">
                    Jebkuru jautājumu vai neskaidrību gadījumā aicinām sazināties ar mūsu klientu atbalsta komandu.
                </p>
                <span class="icon-in-text icon-in-text--inline">
                    <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--phone"></svg>
                    <a class="light " href="tel:62005555">6200&nbsp;5555</a>
                </span>
                &nbsp;
                <span class="icon-in-text icon-in-text--inline">
                    <svg class="icon" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#ico--mail"></svg>
                    <a class="light " href="mailto:info@credify.lv">info@credify.lv</a>
                </span>
                <hr>
            </div>

            <div class="col-xs-12 time">
                <strong>Darba laiks</strong>
                <p class="light muted">
                    <span>Darba dienās:</span> 09:00 – 18:00<br>
                    <span>Sestdienās:</span> 10:00 – 14:00 <br>
                    <span>Svētdienās:</span> Brīvs <br>
                </p>
            </div>

        </div>
    </div>
</section>
