<section class="section--products section--no-space">
    <div class="row-full">
        <div class="col-xs-12 col-md-6 col-lg-4 col-no-gutter">
            <a href="/paterina-kredits.html" class="product product--1">
                <div class="product__title">Patēriņa kredīts</div>
                <div class="product__description">
                    {% include 'partials/content/product-item/item.twig' with {proc:'5,9% gadā', summ:'10&nbsp;000', term:'7 gadi', izr:'1 minūte'} %}
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-no-gutter">
            <a href="/kredits-remontam.html" class="product product--2">
                <div class="product__title">Kredīts remontam</div>
                <div class="product__description">
                    {% include 'partials/content/product-item/item.twig' with {proc:'9,9% gadā', summ:'15&nbsp;000', term:'7 gadi', izr:'15 minūtes'} %}
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-no-gutter">
            <a href="/parkreditacija.html" class="product product--3">
                <div class="product__title">Pārkreditācija</div>
                <div class="product__description">
                    {% include 'partials/content/product-item/item.twig' with {proc:'14,9% gadā', summ:'10&nbsp;000', term:'7 gadi', izr:'15 minūtes'} %}
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-no-gutter">
            <a href="/kreditu-apvienosana.html" class="product product--4">
                <div class="product__title">Kredītu apvienošana</div>
                <div class="product__description">
                    {% include 'partials/content/product-item/item.twig' with {proc:'14,9% gadā', summ:'10&nbsp;000', term:'7 gadi', izr:'15 minūtes'} %}
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-no-gutter">
            <a href="/auto-kredits.html" class="product product--5">
                <div class="product__title">Auto kredīts</div>
                <div class="product__description">
                    {% include 'partials/content/product-item/item.twig' with {proc:'0,99% gadā', summ:'100&nbsp;000', term:'7 gadi', izr:'15 minūtes'} %}
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 col-no-gutter">
            <a href="/nekustama-ipasuma-kredits-pret-kilu.html" class="product product--6">
                <div class="product__title">Nekustāmā īpašuma kredīts</div>
                <div class="product__description">
                    {% include 'partials/content/product-item/item.twig' with {proc:'2,9% gadā', summ:'200&nbsp;000', term:'30 gadi', izr:'1 diena'} %}
                </div>
            </a>
        </div>    
    </div>
</section>
