<section class="section--basic section--spaced section--divided">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-7">
            <form action="" class="">
                <div class="form__heading">
                    <h2><small>Pieteikuma forma</small></h2>
                    <hr class="small">
                </div>
                

                <div class="form__group row">
                    <div class="col">
                        <p>Here goes the form</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="dividor hide show-lg col-md-1"></div>
        <aside class="col-xs-12 col-md-4">
            {% include 'partials/content/aside_content.twig' %}
        </aside>
    </div>
</section>
