<section class="section--contact-us bg--gray-neon">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="h4">Sazinies ar mums</h4>
            
            <span class="h4 unbold">
                <svg class="inline" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#phone"></svg>
                <a class="" href="tel:8355">8355</a>
            </span>
            
            <span class="h4 unbold">
                <svg class="inline" width="22" height="22"><use xlink:href="assets/img/icon-sprite.svg#mail"></svg>
                <a class="" href="mailto:info@sefinance.lv">info@sefinance.lv</a>
            </span>
        </div>
    </div>
</section>
