<section id="section_about" class="section--about section--wery-spaced bg--magic">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h2 class="unbold">
                Desmit gadi tirgū un vairāk nekā<br class="hide show-sm"><b> 180&nbsp;000 klientu visā Latvijā</b>
            </h2>
        </div>
    </div>

    <div class="row center-xs">
        <div class="col-xs-12 col-lg-8 text-center">
            <p class="muted unbold h4">Sefinance ir profesionāls aizdevumu brokeris, kas apvieno finanšu speciālistu komandu ar desmit gadu pieredzi, lai piedāvātu ērtus un vienkāršus aizdevumu risinājumus ikvienai dzīves situācijai.</p>
            <p class="muted unbold h4">Pirmie Latvijā ieviesām kredītu apvienošanas pakalpojumu un pašlaik sadarbojamies ar visiem vadošajiem aizdevējiem, individuāli pielāgojot aizdevuma nosacījumus katram klientam, lai Jūs nepārmaksātu par savām kredītsaistībām.</p>
            <p class="muted unbold h4">Sefinance speciālisti nodrošina pilnu atbalsta ciklu aizdevuma izvēlē un noformēšanā, kā arī palīdz risināt sarežģītas kredītsaistību dzēšanas situācijas. Savukārt ilggadēja sadarbība ar vadošajiem aizdevējiem ļauj piedāvāt visus pieprasītākos aizdevumu veidus ar operatīvu novērtējumu un izdevīgākajiem līguma nosacījumiem.</p>
            <p class="muted unbold h4">Uzticieties Sefinance komandai un taupiet savu laiku, nepārmaksājot par kredītsaistībām!</p>
            <p class="muted unbold h4">Uzņēmums Sefinance ir reģistrēts Patērētāju tiesību aizsardzības centra Kredītu starpnieku un kredītu starpnieku pārstāvju reģistrā ar reģ. Nr. KS-02.</p>
        </div>
    </div>
</section>
