<section class="section--qna section--spaced">
    <div class="row">
        {% if title != false %}
        <div class="col-xs-12">
            <h2>Jautājumi un atbildes</h2>
        </div>
        {% endif %}

        {% set list = [
            [
                'Kas jādara lai saņemtu aizdevumu?', 
                'Aizpildiet vienkāršu pieteikumu, norādot nepieciešamo aizdevumu, tā summu un termiņu. Jau pēc dažām minūtēm saņemsiet pirmos Jums sagatavotos aizdevumu piedāvājumus un varēsiet ērti salīdzināt to nosacījumus ienākot Credify platformā ar unikālo saiti vai ar piešķirto lietotājvārdu. Pēc tam tikai atliek izvēlēties sev piemērotāko piedāvājumu un noslēgt līgumu ar aizdevēju.'
            ],
            [
                'Kā darbojas Credify?', 
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, iusto facere laudantium autem, neque culpa nesciunt excepturi quis dolorem corporis distinctio. Earum ipsum cupiditate temporibus eum, voluptate veniam quasi possimus.'
            ],
            [
                'Cik ilgā laikā saņemšu aizdevuma piedāvājumus?', 
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, iusto facere laudantium autem, neque culpa nesciunt excepturi quis dolorem corporis distinctio. Earum ipsum cupiditate temporibus eum, voluptate veniam quasi possimus.'
            ],
            [
                'Ar kādiem aizdevējiem sadarbojas Credify?', 
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, iusto facere laudantium autem, neque culpa nesciunt excepturi quis dolorem corporis distinctio. Earum ipsum cupiditate temporibus eum, voluptate veniam quasi possimus.'
            ],
            [
                'Ar kādiem aizdevējiem sadarbojas Credify?', 
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, iusto facere laudantium autem, neque culpa nesciunt excepturi quis dolorem corporis distinctio. Earum ipsum cupiditate temporibus eum, voluptate veniam quasi possimus.'
            ],
            [
                'Vai varu atteikties no piedāvājumpiem pēc Credify pieteikuma iesniegšanas?', 
                'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, iusto facere laudantium autem, neque culpa nesciunt excepturi quis dolorem corporis distinctio. Earum ipsum cupiditate temporibus eum, voluptate veniam quasi possimus.'
            ],
        ] %}

        
        <div class="col-xs-12">
            <div class="accordion" data-accordion>
                {% for item in list %}
                <div class="accordion__item">
                    <div class="accordion__title">{{item[0]}}</div>
                    <div class="accordion__content">{{item[1]}}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
