<div class="tabs" data-tabbed>
  <div class="tabs__contain">
      
    <div class="tabs__header">
        <ul class="tabs__header_list">
            <li data-tabbed-id="tab-1" class="is-active">Pārkreditācija</li>
            <li data-tabbed-id="tab-2" class="">Patēriņa kredīts</li>
            <li data-tabbed-id="tab-3">Kredīts remontam</li>
            <li data-tabbed-id="tab-4" class="">Kredītu apvienošana</li>

            <span class="move move--left">
                <span class="btn btn--round btn--secondary">
                    <svg class="btn__icon" width="16" height="16"><use xlink:href="assets/img/icon-sprite.svg#ico-prev"></svg>
                </span>
            </span>
            <span class="move move--right">
                <span class="btn btn--round btn--secondary">
                    <svg class="btn__icon" width="16" height="16"><use xlink:href="assets/img/icon-sprite.svg#ico-next"></svg>
                </span>
            </span>
        </ul>
    </div>
    <div class="tabs__body">
        <ul class="tabs__body_list">
            <li id="tab-1" class="is-active">
                <div class="contain">
                    <div class="row">
                        <div class="col-xs-6">
                            {% include 'partials/content/form/field--input.twig' with {label:'Tavu kredītsaistību summa', suffix: '€'} %}
                            {% include 'partials/content/form/field--input.twig' with {label:'Kredīta termiņš', suffix: 'mēn'} %}
                            {% include 'partials/content/form/field--input.twig' with {label:'Mēneša maksājums', suffix: '€/mēn'} %}
                        </div>
                        <div class="col-xs-6">
                            {% include 'partials/content/form/field--input.twig' with {label:'Piedāvātā summa', value: '10000 €', disabled:true } %}
                            {% include 'partials/content/form/field--input.twig' with {label:'Piedāvātais termiņš', value: '12 mēn.', disabled:true } %}
                            {% include 'partials/content/form/field--input.twig' with {label:'Piedāvātais maksājums', value: '260 €/mēn.', disabled:true } %}
                        </div>
                    </div>

                </div>
                <div class="contain bg--gray-neon">
                    <div class="row ">
                        <div class="col-xs-6 text-center">
                            <h3>
                                <label class="unbold">Mēneša ietaupījums</label>
                                67,76 €/mēn.
                            </h3>
                        </div>
                        <div class="col-xs-6 text-center">
                            <h3>
                                <label class="unbold">Kopējais ietaupījums</label>
                                813,12 €
                            </h3>
                        </div>
                        <div class="col-xs-12">
                            <div class="btn-group btn-group--center">
                                <div class="btn btn--large btn--rounded btn--secondary">Aizpildīt pieteikumu</div>
                            </div>

                            <br>
                            <p class="muted text-center">
                                <small>Kredīta kalkulatoram ir informatīva nozīme! Garantējam tavu personīgo datu drošību.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            {% for index in 2..4 %}
            <li id="tab-{{index}}" class="" >
                <div class="contain">
                    <div class="row">
                        <div class="col-xs-12">
                            
                            <div class="form-slider">
                                <div class="form-slider__heading">
                                    <div class="title">Kredīta summa</div>
                                    <div class="value">
                                        {% include 'partials/content/form/field--input.twig' with { suffix: '€', value:15000 } %}       
                                    </div>
                                </div>
                                <div class="form-slider__slider-contain">
                                    <div class="line">
                                        <div class="compleated" style="width: 100%"></div>
                                    </div>
                                    <div class="label">
                                        <span class="label__start"><small>400 €</small></span>
                                        <span class="label__end"><small>15000 €</small></span>
                                    </div>
                                </div>
                                <div class="form-slider__pin-contain" style="transform: translate({{100 - index * 10}}%);">
                                    <div class="pin"><div class="circle"></div></div>
                                </div>
                            </div>
                            
                            <div class="form-slider">
                                <div class="form-slider__heading">
                                    <div class="title">Aizdevuma termiņš</div>
                                    <div class="value">
                                        {% include 'partials/content/form/field--input.twig' with { suffix: 'mēn.', value:12 } %}       
                                    </div>
                                </div>
                                <div class="form-slider__slider-contain">
                                    <div class="line">
                                        <div class="compleated" style="width: 100%"></div>
                                    </div>
                                    <div class="label">
                                        <span class="label__start"><small>3</small></span>
                                        <span class="label__end"><small>84</small></span>
                                    </div>
                                </div>
                                <div class="form-slider__pin-contain" style="transform: translate({{index * 10}}%);">
                                    <div class="pin"><div class="circle"></div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contain bg--gray-neon">
                    <div class="row">
                        <div class="col-xs-12 col-lg-5 text">
                            <h3>
                                <label class="unbold">Mēneša ietaupījums</label>
                                67,76 €/mēn.
                            </h3>
                        </div>
                        <div class="col-xs-12 col-lg-7">
                            <div class="btn-group btn-group--center btn-group-lg--right">
                                <div class="btn btn--large btn--rounded btn--secondary">Aizpildīt pieteikumu</div>
                            </div>

                        </div>
                        <div class="col-xs-12">
                            <p class="muted">
                                <small>Kredīta kalkulatoram ir informatīva nozīme! Garantējam tavu personīgo datu drošību.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
  </div>
</div>
