<section class="section--howto bg--blue-light">
    <div class="row">
        <div class="col-xs-12 col-sm-3 text-center">
            <svg width="64" height="64" viewBox="0 0 64 64"><use xlink:href="assets/img/icon-sprite.svg#ico-aizpildi-pieteikumu"></svg>
            <h6 class="light unbold">Aizpildi pieteikumu</h6>
        </div>
        
        <div class="col-xs-12 col-sm-3 text-center">
            <svg width="64" height="64" viewBox="0 0 64 64"><use xlink:href="assets/img/icon-sprite.svg#ico-sanem-piedavajumu"></svg>
            <h6 class="light unbold">Saņem izdevīgu piedāvājumu</h6>
        </div>

        <div class="col-xs-12 col-sm-3 text-center">
            <svg width="64" height="64" viewBox="0 0 64 64"><use xlink:href="assets/img/icon-sprite.svg#ico-sanem-ligumu"></svg>
            <h6 class="light unbold">Paraksti līgumu neizejot no mājām</h6>
        </div>

        <div class="col-xs-12 col-sm-3 text-center">
            <svg width="64" height="64" viewBox="0 0 64 64"><use xlink:href="assets/img/icon-sprite.svg#ico-sanem-naudu"></svg>
            <h6 class="light unbold">Saņem naudu savā kontā</h6>
        </div>
    </div>
</section>
