


// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Relative units from pixels
$mixin--baseFontSize: 16;

@function rem($pixels, $context: $mixin--baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  // @if (unitless($u-pixels)) {
  //   $u-pixels: $u-pixels * 1px;
  // }

  // @if (unitless($u-context)) {
  //   $u-context: $u-context * 1px;
  // }
  
  @return $u-pixels / $u-context * 1rem;
}


@mixin buttonGroup-factory($prefix) {
  $thisPrefix: if($prefix=='', '', '-'+$prefix);
  
  .btn-group#{$thisPrefix} {

      > * {
          vertical-align: middle;
      }
      
      .btn {
          display: inline-block;
          margin-right: rem(10);
      }

      &--center {
          width: 100%;
          text-align: center;

          .btn {
              margin-right: rem(10);
              margin-left: rem(10);

              &:last-child {
                  margin-right: rem(0);
              }
              
              &:first-child {
                  margin-left: rem(0);
              }
          }
      }

      &--right {
          text-align: right;

          .btn {
              margin-right: 0;
              margin-left: rem(10);
          }
      }

      &--flex {
          display: flex;
          align-items: center;

          .btn {
              margin-right: 0;
              margin-left: 0;
          }

          .btn__spacer {
              width: 100%;
              flex-grow: 1;
          }
      }
  }
}
