
// Minxin Variables
// ------------------------------------------------------------
$full-gutter: 22;
$gutter: ($full-gutter / 2) * 1px;

$xs-max: (768px - 1);
$sm-max: (900px - 1);
$md-max: (1100px - 1);
$lg-max: (1920px - 1);

$content-well-max-width: 1200px;



// Typography
// ------------------------------------------------------------

// $font-family: 'Cera Pro', sans-serif;
$font-family: 'HK Grotesk', sans-serif;
$font-size-base: 16px;
$line-height-base: 1.3;

$font-size-h1: rem(61);
$font-size-h2: rem(41);
$font-size-h3: rem(25);
$font-size-h4: rem(21);
$font-size-h5: rem($font-size-base);
$font-size-h6: rem($font-size-base);

$font-size-h1--sm: rem(49);
$font-size-h2--sm: rem(39);
$font-size-h3--sm: rem(20);
$font-size-h4--sm: rem(20);
$font-size-h5--sm: rem($font-size-base);
$font-size-h6--sm: rem($font-size-base);

$regular:  normal; $normal: normal;
$medium:    500;
$semi-bold: 600;
$bold:      700;


// Colors
// ------------------------------------------------------------

$black: #161616;
$white: #fff;
$white-darker: #F9F9F9;



$gray-dark: #82858C;
$gray: #222222;
$gray-light: rgba(#161616, .1);
$gray-lighter: #F6F6F6;
$gray-neon: #ECF3F6;


$primary-color-dark: #0B597A;
$primary-color: #0579AB;
$primary-color-light: #009BDE;
$primary-color-lightest: #F6F9FB;


$secondary-color: #FF9E16;


$green: #10CFC9;
// $green: #2AD2C9;
$green-dark: #29AFA8;
$green-darkest: #299191;

$red: #E56A54;

$yellow: #FFDA00;


// Borders
// ========================================


// Animation
// ========================================

$bezier: cubic-bezier(.41,.39,.26,1);



// Positioning
// ========================================

$z-up-2: 1000;
$z-up-1: 100;
$z-base: 0;
$z-down-1: -100;
$z-down-2: -1000;
