.accordion {
    position: relative;

    &__item {
        position: relative;
        border: 1px solid #E0E7ED;
        margin-bottom: rem(10);
        border-radius: 3px;

        &.is-active {
            background-color: $gray-neon;

            .accordion__title {
                background-color: $gray-neon;
                
                &:before {
                    transform: rotate(-180deg);
                }
            }
            .accordion__content {
                height: auto;
                margin-top: rem(25);
            }
        }
    }

    &__title {
        font-weight: $bold;
        position: relative;

        padding: rem(19);
        padding-left: rem(58);

        border-bottom: 1px solid $gray-light;

        z-index: 1;

        &:before {
            content: '';
            display: block;
            
            @include position(absolute,0);

            width: rem(58);

            background: url(../img/accordion-arrow.svg);
            background-size: 16px 8px;
            background-repeat: no-repeat;

            background-position: center;
            transition: transform 500ms $bezier;
        }
    }

    &__content {
        margin: rem(25);
        margin-top: rem(-26);
    
        position: relative;
        height: 0;
        overflow: hidden;

        transition: margin 250ms $bezier;

        @media #{$breakpoint-lg-up} {
            $two-col: (2/12)*100%;
            margin: rem(25) $two-col;
            margin-top: rem(-26);
        }
    }
}


