aside {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.aside {
    
    &__block {
        margin-bottom: rem(28);

        h3 {
            margin-bottom: 1rem;
        }
    }

    &--spaced {
        padding: rem(34);
    }


}

