.bg {

    &--magic {
        position: relative;
        overflow: hidden;
        
        &:before {
            content: '';

            background: url(../img/background--logo.svg);
            background-size: 392px;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;

            // background-attachment: fixed;

            width: 392px;
            height: 392px;
            // height: 100%;

            top: (392px / -2);
            left: 0;
            right: 0;
            margin: auto;
            
            z-index: -1;
        }
    }


    
    &--image {
        position: relative;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        background-color: transparent;

        &:before {
            content: '';

            width: 100%;
            height: 100%;

            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            
            z-index: -1;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        &.image-is--index:before {
            background-image: url(../img/background--index.jpg);
        }

        &.image-is--contacts:before {
            background-image: url(../img/background--contacts.jpg);
        }

        @for $i from 1 through 6 {
            &.image-is--#{$i} {
                &:before {
                    background-image: url(../img/products/big-img-#{$i}.jpg);
                }
            }
        }
    }

    &--image-darken {
        background-color: rgba($black, .5);
    }

    &--blue {
        background-color: $primary-color;
    }

    &--blue-light {
        background-color: $primary-color-light;
    }

    &--blue-transparent {
        background-color: rgba($primary-color, .8);
    }

    &--gray {
        background: $gray-light;
    }

    &--gray-neon {
        background: $gray-neon;
    }
    
    &--gray-lighter {
        background: $gray-lighter;
    }


    &--yellow {
        background: $yellow;
    }
}
