.badge {
    @include position(absolute, null 0 0 rem(5));
    margin: auto;
    background-color: $green;

    border-radius: 100%;

    @include size(rem(32));
    
    line-height: rem(32);
    font-size: rem(14);
    
    font-weight: $bold;

    color: $white;


    &--contain {
        position: relative;
        flex-shrink: 0;
        
        svg {
            width: 80%;
        }
    }

    @media #{$breakpoint-sm-down} {
        top: rem(10);
        right: rem(10);
        left: auto;
        bottom: auto;

        &--contain {
            width: 30%;

            svg {
                width: 100%;
            }
        }
    }
}
