* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  width: 100%;
  font-size: 100%;
}

body {
  font-family: $font-family;
  line-height: $line-height-base;
  font-weight: $medium;
  height: 100%;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
  margin: 0;

  font-size: 100%;
}

button {
  padding: 0;
  border: none;
  background: none;

  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  background-color: rgba($black, .1);
  margin: rem(36) 0;
  clear: both;

  &.small {
    margin: rem(10) 0;
  }
}
