.btn {
    display: block;
    border: 1px solid $gray-light;
    
    color: $primary-color-dark;
    // padding: rem(13) rem(18);
    padding: rem(11) rem(24) rem(11);
    border-radius: 4px;
    font-weight: $bold;
    line-height: 1;
    text-align: center;

    text-decoration: none !important;
    cursor: pointer;

    background-color: $primary-color-lightest;

    transition: background 200ms, border 200ms, color 200ms;
    
    &:hover {
        color: $white;
        background-color: $primary-color-dark;
        border-color: $primary-color-dark;
    }
    

    &__ico {
        display: inline-block !important;
        margin-right: rem(10);

        &--have-notext {
            margin-right: 0;
        }
    }

    &--hollow {
        color: $white;
        border-color: $white;
        background-color: transparent;

        &:hover {
            background-color: $primary-color-dark;
            border-color: $primary-color-dark;
        }
    }
    
    &--primary {
        color: $white;
        border-color: $primary-color-light;
        background-color: $primary-color-light;

        &:hover {
            background-color: $primary-color-light;
            border-color: $primary-color-light;
        }
    }

    &--secondary {
        color: $white;
        border-color: $secondary-color;
        background-color: $secondary-color;

        &:hover {
            background-color: $black;
            border-color: $black;
        }
    }

    &--secondary-hollow {
        border-color: $secondary-color;
        background-color: rgba($secondary-color, .05);
    }

    &--large {
        @media #{$breakpoint-lg-up} {
            font-size: rem(20);
            padding: rem(18) rem(48) rem(17);
        }
    }

    &--small {
        font-size: rem(16);
        padding: rem(11) rem(24) rem(11);
    }

    &--gray-bd {
        border: 1px solid rgba($gray, .2);
    }

    &--close {
        padding: 0;
        text-align: center;
        font-weight: lighter;
        font-size: rem(33);
        line-height: rem(50);

        // font-weight: $normal;

        width: rem(50);
        height: rem(50);

        color: $white;

        cursor: pointer;
    }

    &--wide {
        width: 100%;
    }
    &--fullh {
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--rounded {
        border-radius: 44px;
    }

    &--round {
        border-radius: 100%;
        width: rem(30);
        height: rem(30);

        padding: rem(0);

        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    &--detailed {
        border: 1px solid rgba($gray, .2);
        position: relative;
        text-align: left;

        padding: rem(19) rem(24) rem(16);

        &.is-active {
            background-color: $white;
        }

        &.has-alert {
            &:after {
                content: '';
                display: block;
                position: absolute;

                bottom: 0;
                right: rem(22);
                top: 0;

                height: 100%;
                width: 24px;

                background-image: url(../img/ico-alert.svg);
                background-repeat: no-repeat;
                background-position: center right;
            }
        }
    }

    &--barebones {
        border: none;
        background-color: transparent;
        padding: 0;
        margin: 0;

        font-weight: normal;
        color: $green-dark;

        white-space: nowrap;
    }

    &[disabled=disabled],
    &[disabled],
    &.disabled,
    &.is-disabled {
        // pointer-events: none !important;
        cursor: not-allowed;

        background: $gray-light !important;
        border: 1px solid $gray-light !important;
        color: rgba($black, .3) !important;


    }
}

button {
    outline: none !important;
}



@for $i from 1 through length($breakpoint-up-prefixes) {
  $thisPrefix: nth($breakpoint-up-prefixes, $i);
  @if $thisPrefix == "xs" {
    @include buttonGroup-factory('');
  } @else if $thisPrefix == "sm" {
    @media #{$breakpoint-sm-up} {
      @include buttonGroup-factory($thisPrefix);
    }
  } @else if $thisPrefix == "md" {
    @media #{$breakpoint-md-up} {
      @include buttonGroup-factory($thisPrefix);
    }
  } @else if $thisPrefix == "lg" {
    @media #{$breakpoint-lg-up} {
      @include buttonGroup-factory($thisPrefix);
    }
  } @else if $thisPrefix == "xl" {
    @media #{$breakpoint-xl-up} {
      @include buttonGroup-factory($thisPrefix);
    }
  }
}
