.card {
    overflow: hidden;

    &__content {
        padding: rem(40);

        background-color: $white;
        border: 1px solid $gray-light;
        border-radius: 4px;
        
        position: relative;
    }

    &__footer {
        padding: rem(40);
        margin: rem(-40+28) rem(-40) rem(-40) rem(-40);

        background-color: $gray-neon;
    }

    &--quote {
        
        &__bg-icon {
            position: absolute;
            right: rem(40);
            bottom: rem(40);

            width: rem(20);
            height: rem(20);
        }
    }
}
