


@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hkgrotesk-bold.woff2') format('woff2'),
         url('../fonts/hkgrotesk-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hkgrotesk-bolditalic.woff2') format('woff2'),
         url('../fonts/hkgrotesk-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hkgrotesk-medium.woff2') format('woff2'),
         url('../fonts/hkgrotesk-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'HK Grotesk';
    src: url('../fonts/hkgrotesk-mediumitalic.woff2') format('woff2'),
         url('../fonts/hkgrotesk-mediumitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;

}
