.footer {
    $special-inner-spacing: rem(13);
    
    padding: 1rem;
    padding-top: rem(80);
    padding-bottom: rem(50);

    border-bottom: 20px solid $primary-color-light;

    line-height: 1.4;
    
    .eparaksts {
        img {
            width: 100%;
            max-width: 200px;
            display: inline-block;
        }

        @media #{$breakpoint-sm-down} {
            text-align: center;
        }
    }

    .pilnvaras {
        @media #{$breakpoint-sm-down} {
            text-align: center;
        }
    }

    .pakalpojumu-info {
        p {font-size: rem(13);}
        @media #{$breakpoint-sm-down} {
            p {font-size: rem(10);}
        }
    }

    @media #{$breakpoint-sm-only} {
        padding-left: rem(60);
        padding-right: rem(60);
    }

    @media #{$breakpoint-xs-down} {
        text-align: center;
    }
}
