.form-slider {
    margin-bottom: 60px;

    &:last-child {
        margin-bottom: 24px;
    }

    &__heading {
        display: flex;
        align-items: baseline;
        
        .title {
            width: 100%;
            font-weight: $bold;
        }

        .value {
            text-align: right;
            width: rem(170);

            flex-shrink: 0;
        }

        .measure {
            margin-left: rem(14);
            font-size: 1rem;
        }
    }

    &__pin-contain {
        position: relative;
        margin-right: 30px; 

        .pin {
            @include position(absolute, null null (30px / -2 + 4px) null);

            .circle {
                @include size(30px);
                background-color: $secondary-color;
                border-radius: 100%;
                margin: 0;
                padding: 0;

                transition: background 200ms;

                border: 4px solid $white;
            }
            svg {
                transform-origin: 50% 100%;
                transition: transform 100ms;
                fill: $secondary-color;
                margin-left: -8px;
                margin-bottom: -8px;
            }

            &:hover {
                .circle {
                    background-color: $black;
                }
            }
        }
    }

    &__footer {
        display: flex;
        align-items: baseline;

        .title {
            width: 100%;
            font-weight: $bold;

            flex-basis: 50%;
            flex-grow: 1;
        }

        .value {
            text-align: right;
            width: rem(170);
            font-size: rem(44);
            font-weight: $bold;
        }
        .measure {
            font-size: rem(25);
            margin-left: rem(14);
        }
    }

    &__slider-contain {
        position: relative;
        padding-top: rem(15);

        .line {
            width: 100%;
            height: 8px;
            border-radius: 8px;
            background-color: $gray-light;

            position: relative;

            // margin-top: rem(20);

            overflow: hidden;
        }
        .compleated {
            display: block;
            @include position(absolute, 0);
            border-radius: 14px;
            padding-right: 14px;
            background-color: $secondary-color;

            box-sizing: content-box;
        }

        .label {
            position: absolute;
            left: 0;
            top: 33px;

            width: 100%;

            color: $primary-color;

            &__start {
                float: left;    
            }

            &__end {
                float: right;    
            }
        }

        // &:before {
        //     content: '';
        //     display: block;
        //     @include size(100%,6px);
        //     @include position(absolute, null null (14px+10));
        //     background-image: url(../img/ruller.svg);
        //     background-size: 17px 6px;

        // }
    }

    &--dark {

        .value {
            // color: $secondary-color-darkest;
        }

        .pin {
            svg {
                // fill: $secondary-color-darkest;
            }
        }

        .compleated {
            // background-color: $secondary-color-darkest;
        }
    }
}
