.header {
    height: rem(94);
    position: relative;
    z-index: 100;
    padding-left: 1rem;
    padding-right: 1rem;

    & > .row {
        height: 100%;
        align-items: center;
    }

    a {
        display: block;
    }

    &__logo {
        width: rem(225);
        max-width: 100%;

        svg {
            max-width: 100%;
        }

        svg * {
            fill: $green;
        }
    }

    &--secondary {
        height: rem(60);

        
    }

    @media #{$breakpoint-md-down} {
        height: auto;

        .header__logo {
            width: rem(170);
        }
    }

    @media #{$breakpoint-sm-only} {
        padding-left: rem(60);
        padding-right: rem(60);
    }
}
