.icon-in-text {
    display: flex;
    align-items: start;

    margin-bottom: 0.3rem;

    .icon {
      display: block;
      margin-right: 10px;

      // @include size(22px);

      flex-shrink: 0;
    }

    &--inline {
        display: inline-flex;
    }

    &:last-child {
      margin-bottom: 0;
    }
}

@media #{$breakpoint-sm-down} { .icon-in-text {
  &--sm {

    &--center {
      flex-wrap: wrap;
      justify-content: center;
      
      .icon {
        margin: 0;
      }
      .text {
        margin-top: rem(15);
        text-align: center;
        width: 100%;
      }
    }
  }

}}
