$input-height: rem(40);


input,
textarea {
	width: 100%;
	border: 1px solid $gray-light;
	padding: rem(14);
	border-radius: 3px;

	height: $input-height;

	&[type="password"] {
	}

	background-color: $primary-color-lightest;
}

textarea {
	max-width: 100%;
	width: 100%;
	height: auto;
}

::placeholder {
}

select {
	outline: none;
	width: 100%;
	height: rem(50);
}

:focus {
    outline: $primary-color auto 2px;
}

label {
	display: block;
	opacity: .7;
	font-size: rem(13);

	margin-bottom: rem(10);
}


input[disabled] {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid $gray-light;
	border-radius: 0;

	opacity: 1;
	color: $black;

	font-weight: $bold;
}

.input {

	&__group {
		position: relative;

		& + & {
			margin-top: 1rem;
		}

		.suffix {
			position: absolute;
			right: 0;
			bottom: 0;

			padding: 0 rem(14);
			line-height: $input-height;
			height: $input-height;

			font-size: rem(13);
			color: $primary-color-dark;
		}

		&--checkbox {
			
			label {
				display: flex;
				align-items: safe;
				font-weight: $normal;
				font-size: rem($font-size-base);
			}

			.label {
				// margin-bottom: -2px;
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				@include size(0);
			}

			.checkmark {
				border: 1px solid $gray-light;
				border-radius: 3px;
				display: inline-block;
				@include size(rem(25));

				margin-right: rem(10);

				flex-shrink: 0;
			}

			input:checked ~ .checkmark {
			  background-color: $primary-color-dark;
			}
		}

		&--radio {
			label {
				display: flex;
				align-items: safe;

				font-weight: $normal;

				font-size: rem($font-size-base);

			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				@include size(0);
			}

			.label {
				@extend .btn;
				width: 100%;
				background-color: $white;
			}

			input:checked ~ .label {
			  background-color: $gray-neon;
			  border-color: $primary-color;
			  opacity: 1;	
			}
		}

		&--file {
			.label {
				background: $gray-neon;
				font-size: rem(14);
				font-weight: $bold;

				padding: rem(15) rem(20);
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				@include size(0);
			}

			label {
				background: $gray-neon;
				border: 1px dashed $gray-light;

				display: flex;
				align-items: center;
				flex-direction: column;

				font-weight: $normal;

				font-size: rem($font-size-base);

				opacity: 1;


				padding: $input-height;

				cursor: pointer;
			}

			.upload-list {
				padding: 0;
				
				border-radius: 3px;
				overflow: hidden;

				margin-bottom: rem(28);

				font-size: rem(14);

				&:not(.is-visible) {
					display: none;
				}

				.item {
					border: 1px solid $gray-light;
					margin-top: -1px;
					display: flex;
					padding: rem(12);
					align-items: center;

					&:first-child {
						margin-top: 0;
					}

					&:before {
						content: '';
						display: block;
						position: relative;

						width: 22px;
						height: 22px;

						padding: rem(12);

						margin-right: rem(12);

						background-image: url(../img/info.svg);
						background-size: 22px;
						background-position: center;
						background-repeat: no-repeat;
					}

					.contain {
						width: 100%;
					}

					.title {
						font-weight: bold;
					}

					.message {
						opacity: .7;
					}
					
					&--success {
						.title {
							color: $primary-color;
						}
						&:before {
							background-image: url(../img/success.svg);
						}
					}

					&--error {
						.title {
							color: $red;
						}
						&:before {
							background-image: url(../img/error.svg);
						}
					}
				}
			}
		}
	}
}
