.mobile-menu {
    
    &__open_button {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        cursor: pointer;

        padding-right: 1rem;

        z-index: 99999;

        svg {
        }
    }

    &__sidemenu {
        @media #{$breakpoint-md-down} {
            @include position(fixed, null);    
            top: 0;
            bottom: 0;
            right: rem(-350);

            z-index: 9990000;

            height: 100%;
            width: rem(350);

            background-color: $primary-color;
            
            &.is-open {
                right: 0;
            }

            transition: right 200ms;
        }
    }

    &__header {
        position: relative;
        height: rem(82);
        padding: rem(23) rem(44);
        display: none;

        @media #{$breakpoint-md-down} {
            display: block;
        }
    }

    &__backdrop {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        background-color: rgba($black, .7);

        display: none;

        z-index: 99999;
    }


    &__close_btn {
        @include position(absolute, rem(22) rem(0) null null);
        @extend .btn--close;

        background-color: transparent;
        border-radius: 100%;

        z-index: 9999;
    }
}
.is-open ~ .mobile-menu__backdrop {
    display: block;
}

@media #{$breakpoint-sm-down} {
    .menu--languages {
        li {
            padding: 0;
        }

        .is-active {
            display: none;
        }
    }
}
