.modal {
    @include position(fixed, 0);
    width: 100%;

    display: none;

    &.is-visible {
        display: block;

        .modal__contain,
        .modal__backdrop {
            opacity: 1;
        }
    }

    &__backdrop {
        @include position(absolute, 0);
        @include size(100%);
        background-color: rgba($black, .7);
    }

    &__contain {
        @include position(absolute, rem(150) 0 null 0);
        z-index: $z-up-1;
        opacity: 0;

        max-width: rem(762);
        width: 100%;

        padding: rem(50) rem(34);

        margin: auto;

        background-color: $white;

        transition: opacity 200ms;
    }

    &__header-image {
        text-align: center;

        img {
            display: inline-block;
        }

        margin-bottom: rem(28);
    }


    &__title {
        position: relative;
        padding-right: rem(65);
        margin-bottom: rem(28);
    }
    
    &__body {
        margin-bottom: rem(28);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__close_btn {
        @include position(absolute, rem(38) rem(34) null null);
        @extend .btn--close;

        background-color: $gray-neon;
        border-radius: 100%;

        z-index: 9999;
    }


    &--content-centered {
        text-align: center;

        .modal__title {
            padding-left: rem(65);
        }
    }
}

@media #{$breakpoint-md-down} { .modal{

    &__title {
        position: relative;
        padding-right: rem(50);
        margin-bottom: rem(28);
    }
    
    &--content-centered {
        .modal__title {
            padding: 0;
        }
    }
}}
