
.off-canvas {
    position: relative;
    z-index: $z-up-2;
    
    height: rem(370);
    margin-top: rem(-370);

    transition: margin 250ms $bezier, right  250ms $bezier;
    
    &--from-top {
    
    }

    &__contain {
        height: 100%;
        position: relative;
    }

    &__close_btn {
        @include position(absolute, rem(38) rem(34) null null);
        @extend .btn--close;

        background-color: transparent;
        border: 1px solid rgba($white, .2);
        border-radius: 100%;

        color: $white;

        z-index: 9999;
    }
        
    &.is-visible {
        margin-top: 0;
    }

    hr {
        display: none;
    }
}

@media #{$breakpoint-md-down} { .off-canvas {
    position: fixed;

    top: 0;
    right: rem(-400);
    bottom: 0;

    height: 100%;
    width: rem(400);

    margin-top:0;

    z-index: 9999999;

    hr {
        display: block;
    }

    &.is-visible {
        right: 0;
    }
    
    .time {
        span {
            display: inline-block;
            width: rem(150)
        }
    }
}}
