.product {
    position: relative;
    width: 100%;
    height: 100%;
    
    text-decoration: none !important;

    text-align: center;

    background-color: rgba($black, .40);
    
    height: rem(340);

    display: flex;
    flex-flow: wrap;

    justify-content: center;
    align-content: center;

    color: $white;

    transition: background 200ms;

    &:before {
        content: '';

        width: 100%;
        height: 100%;

        position: absolute;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        z-index: -1;

        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @for $i from 1 through 6 {
        &--#{$i} {
            &:before {
                background-image: url(../img/products/img-#{$i}.jpg);
            }
        }
    }

    &__title {
        width: 100%;
        flex-grow: 0;
        font-size: rem(31);
        font-weight: bold;

        padding: 0 rem(15) rem(15);
    }

    &__description {
        width: 100%;
        display: flex;
        
        

        flex-grow: 0;

        padding: 0 10%;

        height: 0;
        overflow: hidden;

        transition: height 200ms;

        .contain {
            width: 100%;
            height: 150px;

            flex-flow: wrap;
            align-items: center;
            display: flex;

            opacity: 0;   

            max-width: 340px;
            margin: auto; 
        }
    }

    &__item {
        width: 50%;
        padding: 5px;
    }


    &:hover {
        background-color: rgba($primary-color, .80);

        .product__description {
            height: 150px;
        }

        .contain {
            transition: opacity 400ms;
            opacity: 1;
        }
    }
}
