section {
    padding: 1rem;

    @media #{$breakpoint-sm-only} {
        padding-left: rem(60);
        padding-right: rem(60);
    }
}

.section {
    &--spaced {
        padding-top: rem(40);
        padding-bottom: rem(40);
    }

    &--wery-spaced {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }

    &--no-space {
        padding: 0;
    }

    &--divided {
        border-bottom: 1px solid $gray-light;
    }

    &--basic {
        padding-top: rem(28);
        padding-bottom: rem(28);
    }

    &--main-banner {
        min-height: rem(467);
        margin-top: rem(-60);
        padding-top: rem(60 + 40);

        display: flex;
        justify-content: center;

        .col {
            display: flex;
            align-items: center;
        }

        h1 {
            width: 100%;
        }
    }

    &--index-banner {
        
        @extend .section--main-banner;

        @media #{$breakpoint-sm-down} {
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0;

            &:before {
                max-height: rem(400);
            }

            .row {
                max-width: 100%;

                > .col-lg-4 {
                    text-align: center;

                    .col-contain {
                        padding: 1rem;
                    }
                }

                > .col-md-6 {
                    padding: 0;
                }
            }
        }
    }

    &--contact-banner {
        @extend .section--main-banner;
        min-height: rem(297);
    }

    &--contact-us {
        text-align: center;

        * {
            vertical-align: middle;
            color: $primary-color-dark;
        }
        
        .h4 {
            margin: rem(38/2);
            line-height: 24px;
        }

        a {
            color: $primary-color-dark;
        }

        svg {
            margin-right: rem(14);
        }

        @media #{$breakpoint-xs-down} {
            text-align: center;

            .h4 {
                margin: rem(12) auto;
                display: block;
            }
        }
    }

    &--partners {
        text-align: center;
        padding: rem(43);
    }

    &--howto {
        h6 {
            width: 100%;
        }
        
        @media #{$breakpoint-xs-down} {
            .text-center {
                text-align: left !important;
                padding-left: 0;
            }

            h6,
            svg {
                vertical-align: middle;
                display: inline-block;
                width: auto;
                margin: 0;
                padding: 0;
            }
        }
    }

    &--map {
        height: 500px;
        position: relative;

        > .row {
            padding: 1rem;
            height: 90%;

            @media #{$breakpoint-sm-only} {
                padding-left: rem(60);
                padding-right: rem(60);
            }
        }

        .map-iframe-contain {
            position: absolute;
            top: 0;
            right: 0;
            bottom:0;

            width: 62%;
            height: 100%;

            margin: 0;
            padding: 0;
            
            iframe {
                display: block;
            }
        }
        
        @media #{$breakpoint-sm-down} {
            height: auto;

            > .row {
                height: auto;
            }

            .map-iframe-contain {
                position: relative;
                width: 100%;
            }
            
        }
    }

    &--contacts {
        color: $white;
        
        strong {
            margin-bottom: rem(5);
        }

        p,
        strong,
        a {
            font-size: rem(16);
        }
        
    }

    &--login {
        > .row {
            max-width: rem(370+18+18)
        }
    }
}
