// --------------------------------------------------------------------------
// Tabs
// --------------------------------------------------------------------------

.tabs {
	display: block;
	
	&__contain {
		overflow: hidden;
		border-radius: 4px;
		height: 100%;
	}

	&__header {
		width: 100%;
		background-color: $gray-neon;

		&_list {
			position: relative;
			display: table;

			list-style: none;
			padding: 0;
			margin: 0;

			width: 100%;

			li {
				display: table-cell;
				vertical-align: middle;
				
				text-align: center;
				padding: rem(22) rem(14) !important;
				margin: 0 !important;
				
				font-size: rem(13);
				font-weight: $bold;
				color: $primary-color-dark;

				cursor: pointer;

				border-left: 1px solid $gray-light;

				transition: background 200ms, border 200ms;

				&:first-child {
					border: none;
				}

				&:hover,
				&.is-active {
					background-color: $white;
					border-color: $white;
					color: $black;

					& + li {
						border-color: $white;
					}
				}
			}

			.move {
				display: none;

				position: absolute;
				top: 0;
				bottom: 0;
				height: 100%;

				align-items: center;

				z-index: 2;

				&--left {
					left: rem(10);
				}

				&--right {
					right: rem(10);
				}
			}
		}
	}

	&__body {
		width: 100%;
		height: 100%;
		
		&_list {
			position: relative;

			width: 100%;
			display: block;

			list-style: none;
			padding: 0;
			margin: 0;

			overflow: hidden;

			li {
				position: absolute;
				background-color: $white;
				
				width: 100%;
				
				top: 0;
				left: 0;


				padding: 0 !important;
				margin: 0 !important;

				z-index: -1;

				visibility: hidden;

				overflow: hidden;
				border-radius: 0 0 4px 4px;

				&.is-active {
					display: block;
					z-index: 1;

					visibility: visible;
				}
			}

			.contain .row {
				padding: rem( 30 - ($full-gutter / 2));
			}
		}
	}

	&:not(.is-initiated) {

		.tabs__body {
			
			li.is-active {
				position: relative;
			}
		}
	}
}

@media #{$breakpoint-md-only} { .tabs {

	&__body {

		&_list {
			height: 100% !important;
		}
	}
}}

@media #{$breakpoint-md-down} { .tabs {

	&__header {
		height: rem(60);
		background: none;

		&_list {
			height: 100%;
			display: block;

			li {
				position: absolute;
				display: flex;

				align-items: center;
				justify-content: center;

				width: 100%;
				height: 100%;
				border: none !important;
				padding: rem(0) rem(14) !important;

				background-color: $gray-neon;

				font-size: rem(16);
				cursor: auto;

				opacity: 0;

				&.will-animate {
					// transition: transform 300ms;
				}

				&.is-active {
					z-index: 1;
					background-color: $gray-neon;
					transform: translate(0%, 0);
					opacity: 1;
				}

				&.next {
					transform: translate(101%, 0);
					opacity: 1;
				}

				&.prev {
					transform: translate(-101%, 0);
					opacity: 1;
				}
			}

			.move {
				display: flex;
			}
		}
	}

	&__body {

		&_list {

			li {
				z-index: -1;

				&.will-animate {
					// transition: transform 300ms;
					transition: opacity 300ms;
				}

				&.is-active {
					transform: translate(0, 0);
					opacity: 1;
					visibility: visible;
					z-index: 2;
				}

				&.next {
					transform: translate(101%, 0);
					opacity: 0;
					visibility: visible;
					z-index: 1;
				}

				&.prev {
					transform: translate(-101%, 0);
					opacity: 0;
					visibility: visible;
					z-index: 1;
				}
			}
		}

		.text {
			text-align: center;
		}

		.btn-group .btn {
			width: 100%;
		}
	}
}}

@media #{$breakpoint-sm-down} { .tabs {
	height: auto !important;

	&__contain {
		border-radius: 0;
	}

	&__header {
		height: rem(60);
		background: none;

		margin: auto;
		max-width: rem(448);

		padding-left: rem(19);
		padding-right: rem(19);

		&_list {
			overflow: hidden;
			height: 100%;

			li {
				border-radius: 4px 4px 0 0;
			}
		}
	}

	&__body {

		background-color: $gray-neon;

		&_list {
			
			li {
				
				.contain {

					.row {
						max-width: rem(448);
					}
					// max-width: rem(448);
					margin: auto;
				}
			}
		}
	}
}}


@media #{$breakpoint-xs-only} { .tabs {
	height: auto !important;

	&__contain {
		border-radius: 0;
	}

	&__header {
		
	}

	&__body {

		&_list {
			// height: auto !important;
			
			li {

				.contain {

					.row {
						max-width: rem(448);
						padding-left: rem(16);
						padding-right: rem(16);
					}
					// max-width: rem(448);
					margin: auto;
				}
			}
		}
	}
}}
