// --------------------------------------------------------------------------
// Typography
// --------------------------------------------------------------------------

p {
  font-size: rem($font-size-base);
  line-height: $line-height-base;
  margin: 0 0 1em;

  font-weight: $medium;

  &:last-child {
    margin-bottom: 0;
  }

}


// Headings
// ------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $font-family;
  line-height: $line-height-base;
  margin: 0;
  line-height: 1.3;
  font-weight: $bold;

  display: inline-block;

  color: $black;

  margin: 0 0 rem(12);

  &:last-child {
    margin-bottom: 0;
  }
}

h1, .h1 {
  font-size: $font-size-h1;
  line-height: 1;
  font-weight: $bold;
  // letter-spacing: -0.025em;
  // margin: 0 0 rem(34);

  &:last-child {
    margin-bottom: 0;
  }
  
  @media #{$breakpoint-sm-down} {
    font-size: $font-size-h1--sm;        
  }
}

h2, .h2 {
  font-size: $font-size-h2;
  margin-bottom: 1rem;

  @media #{$breakpoint-sm-down} {
    font-size: $font-size-h2--sm;        
  }
}

h3, .h3 {
  font-size: $font-size-h3;
  margin-bottom: 1rem;

  @media #{$breakpoint-sm-down} {
    font-size: $font-size-h3--sm;        
  }
}

h4, .h4 {
  font-size: $font-size-h4;
  margin-bottom: 1rem;

  @media #{$breakpoint-sm-down} {
    font-size: $font-size-h4--sm;        
  }
}

h5, .h5 {
  font-size: $font-size-h5;
  margin-bottom: 1rem;

  @media #{$breakpoint-sm-down} {
    font-size: $font-size-h5--sm;        
  }
}

h6, .h6 {
  font-size: $font-size-h5;
  margin-bottom: 1rem;

  @media #{$breakpoint-sm-down} {
    font-size: $font-size-h5--sm;        
  }
}

ul,
ol {
  font-size: rem($font-size-base);
  line-height: $line-height-base;
  padding-left: 1em;
  margin: 0;
  // color: $primary-color;

  li {
    padding-bottom: 5px;
    padding-left: 0.5em;
  }

  li:last-child {
    padding-bottom: 0;
  }
}

a {
  color: $primary-color-dark;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}


// li {
//   margin-bottom: rem(6);
// }

// blockquote {
//   padding: 15px 0 15px $grid-gutter;
//   margin: 27px 0;
//   border-left: solid 66px $gray-light;
//   color: $gray-dark;
//   position: relative;

//   *:last-child {
//     margin: 0;
//   }
// }

// table {
//   width: 100%;
//   margin-bottom: rem(36);
//   font-size: $font-size-small;
//   line-height: $line-height-base;
// }

// thead {
//   color: $gray;
// }

// th {
//   text-align: left;
//   font-weight: 500;
// }

// th,
// td {
//   padding: rem(12) 0 rem(12) 0;
//   border-bottom: solid 1px #D9D9D9;

//   &:last-child {
//     padding-right: rem(12);
//   }
// }

// dl {
//   width: 100%;
//   @include clearfix;
//   font-size: $font-size-base;
//   line-height: $line-height-base;
//   margin: 0;

//   dt,
//   dd {
//     float: left;
//     margin: 0 0 rem(4);
//   }

//   dt {
//     width: 60%;
//     font-weight: 900;
//     clear: left;
//   }

//   dd {
//     width: 40%;
//     padding-left: $grid-gutter;
//   }
// }

.no-space {
  margin: 0;
}

.muted {
  color: $black;
  opacity: .6;
}

.light {
  color: $white;
}

.dark {
  color: $black;
}

.color-primary {
  color: $primary-color;
}

.bold {
  font-weight: $bold;
}

.unbold {
  font-weight: $medium;
}

.text {
  &-center {
    text-align: center !important;
  }
  &-left {
    text-align: left !important;
  }
  &-right {
    text-align: right !important;
  }
}

.text-block {
  margin: 0 0 1.2em;
  
  & > * {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
