<!doctype html>
<html class="no-js" lang="">

<head>
  {% include 'partials/main/head.twig' %}
</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  {# {% include 'partials/content/off-canvas--contacts.twig' %} #}
  {% include 'partials/main/header.twig' %}
  
  <div class="main-app">
    {% block page %}{% endblock %}
  </div>


  <div class="modals">
    {% block modals %}{% endblock %}
  </div>

  {% include 'partials/main/footer.twig' %}
  
  {% include 'partials/main/scripts.twig' %}
</body>
</html>
