<footer class="footer bg--gray-lighter">
    <div class="row ">
        <div class="hide show-md col-xs-12 col-sm-2 col-lg-2">
            <a href="/"><svg width="70" height="70" viewBox="0 0 70 70"><use xlink:href="assets/img/icon-sprite.svg#small-logo"></svg></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="text-block">
                <p class="muted">Tālrunis</p>
                <a href="">+371 8000 0303</a>
            </div>

            <div class="text-block">
                <p class="muted">E-pasts saziņai</p>
                <a href="">info@sefinance.lv</a>
            </div>

            <div class="text-block">
                <p class="muted">E-pasts dokumentiem</p>
                <a href="">dokumenti@sefinance.lv</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="text-block">
                <p class="muted">Adrese</p>
                <p class="bold">Kr. Valdemāra iela 57/59,<br>Rīga, LV-1010</p>
            </div>
            <div class="text-block">
                <p>Darba dienās: 9:00 - 18:00</p>
                <p>Sestdienās: 10:00 - 14:00</p>
                <p>Svētdienās: Brīvs</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="text-block">
                <p class="muted">Privātums</p>
                <a href="">Datu apstrādes noteikumi</a> <br>
                <a href="">Konfidencialitātes politika</a>
            </div>

            <div class="text-block">
                <p class="muted">Seko mums</p>
                <a href="">Sefinance Facebook</a>
            </div>

        </div>
        <div class="hide show-md col-md-1"></div>
    </div>

    <div class="row">

        <div class="col-xs-12">
            <hr>
        </div>

        <div class="col-xs-12 text-center pakalpojumu-info">
            <p class="muted">Informācija par Sefinance SIA sniegtajiem pakalpojumiem: SIA Sefinance piedāvā pārkreditācijas / kredīta apvienošanas, patēriņa kredīta, auto līzinga un aizdevuma pret nekustamā īpašuma ķīlu pakalpojumus. Pārkreditācijas / kredīta apvienošanas, patēriņa kredīta pakalpojumi pieejami ar aizdevuma termiņu no 3 līdz 84 mēnešiem un aizdevuma summu no 500 līdz 15000 EUR un gada procentu likmi no 5,9% līdz 60% (maksimālā likme). Auto līzinga pakalpojums ir pieejams ar aizdevuma termniņu 3 līdz 72 mēnešiem un aizdevuma summu no 500 līdz 50000 EUR un gada procentu likmi no 2% līdz 29% (maksimālā likme). Aizdevuma pret nekustamā īpašuma ķīlu pakalpojums pieejams ar aizdevuma termiņu no 1 līdz 30 gadiem ar aizdevuma summu no 2000 līdz 200000 EUR un gada procentu likmi no 2,9% līdz 23% (maksimālā likme). Reprezentatīvs piemērs pārkreditācijai / kredītu apvienošanai ar 17,9% likmi atmaksas piemērs: Ņemot aizdevumu 5 000 EUR ar termiņu uz 5 gadiem, kreditoru komisijas maksa – 4,9%, brokeru komisijas maksa - 2%, gada procentu likme (GPL) – 23,27%, kopējā summa, kas jāmaksā patērētājam - 8 134 EUR. Ikmēneša maksājums ir 135,56 EUR. Reprezentatīvs piemērs patēriņa kredītam ar 17,9% likmi atmaksas piemērs: Ņemot aizdevumu 5 000 EUR ar termiņu uz 5 gadiem, kreditoru komisijas maksa – 4,9%, brokeru komisijas maksa - 2%, gada procentu likme (GPL) – 23,27%, kopējā summa, kas jāmaksā patērētājam - 8 134 EUR. Ikmēneša maksājums ir 135,56 EUR. Reprezentatīvs piemērs auto kredītam ar 9,9% likmi atmaksas piemērs: Ņemot aizdevumu 8 000 EUR ar termiņu uz 5 gadiem, kreditoru komisijas maksa – 9,9%, brokeru komisijas maksa - 2%, gada procentu likme (GPL) – 16,02%, kopējā summa, kas jāmaksā patērētājam - 11 405,95 EUR. Ikmēneša maksājums ir 190,10 EUR. Reprezentatīvs piemērs hipotekārajam kredītam ar 3% likmi atmaksas piemērs: Ņemot aizdevumu 20000 EUR ar termiņu uz 10 gadiem, kreditoru komisijas maksa – 2%(400EUR), brokeru komisijas maksa - 2%, gada procentu likme (GPL) – 3.93%, kopējā summa, kas jāmaksā patērētājam – 23174.58 EUR. Ikmēneša maksājums ir 193.12 EUR.</p>
        </div>


    </div>
    <div class="row center-md">
        <div class="col-xs-12 col-md-2 eparaksts align-center">
            <img src="assets/img/eparaksts.png" alt="">
        </div>
        <div class="col-xs-12 col-md-6 col-lg-5 pilnvaras align-center">
            <p class="muted">SIA "Sefinance" pilnvaru apjoms - neatkarīgs brokeris.<br>SIA "Sefinance Credit" pilnvaru apjoms - neatkarīgs brokeris. </p>
        </div>
    </div>
</footer>
