<header class="header middle-xs bg--blue">

  <div class="row">
    <div class="col col-no-gutter">
        <div class="row no-wrap middle-xs">
            
            <div class="col-xs-6">
                <div class="header__logo">
                    <a href="/"><svg width="237" height="54" viewBox="0 0 237 54"><use xlink:href="assets/img/icon-sprite.svg#logo"></svg></a>
                </div>
            </div>

            <div class="col">
              <nav class="menu menu--small menu--align-right">
                  <ul>
                      <li class=""><a href="#">RU</a></li>
                      <li class="hide show-sm"><a data-scroll-to="#section_about">Par mums</a></li>
                      <li class="hide show-sm"><a href="/contacts.html">Kontakti</a></li>
                  </ul>
              </nav>

            </div>
            <div class="col-xs-1 col-no-gutter hide-lg" style="min-width:38px">
                <div class="mobile-menu__open_button" data-open-mobilemenu>
                    <svg width="22" height="16" viewBox="0 0 22 16"><use xlink:href="assets/img/icon-sprite.svg#mobile-menu"></svg>
                </div>
            </div>
            
        </div>
    </div>
  </div>
</header>
<header class="header header--secondary middle-xs bg--blue-transparent">
  <div class="row">
    
    <div class="col col-no-gutter mobile-menu__sidemenu">
        
        <div class="mobile-menu__header">
            
            <button class="mobile-menu__close_btn" data-close-mobilemenu aria-label="Close" type="button">&times;</button>
        </div>

        <nav class="menu">
          <ul class="hide-lg">
            
            <li class="hide-sm"><a data-scroll-to="#section_about">Par mums</a></li>
            <li class="hide-sm"><a href="/contacts.html">Kontakti</a></li>
          </ul>

          <ul>
            <li><a href="/paterina-kredits.html">Patēriņa kredīts</a></li>
            <li><a href="/kredits-remontam.html">Kredīts remontam</a></li>
            <li><a href="/parkreditacija.html">Pārkreditācija</a></li>
            <li><a href="/kreditu-apvienosana.html">Kredītu apvienošana</a></li>
            <li class="has-submenu"><a>Auto kredīts</a><i></i>
              <ul>
                <li><a href="/auto-kredits.html">Auto kredīts</a></li>
                <li><a href="/auto-lizings.html">Auto līzings</a></li>
                <li><a href="/kredits-pret-auto-kilu.html">Kredīts pret auto ķīlu</a></li>
              </ul>
            </li>
            <li class="has-submenu "><a>Nekustamā īpašuma kredīts</a><i></i>
              <ul>
                <li><a href="/nekustama-ipasuma-kredits-pret-kilu.html">Pret nekustamā īpašuma ķīlu</a></li>
                <li><a href="/nekustama-ipasuma-iegadei-bez-kilas.html">Nekustamā īpašuma iegādei bez ķīlas</a></li>
              </ul>
            </li>
          </ul>
        </nav>
    </div>
    <div class="mobile-menu__backdrop" data-close-mobilemenu></div>
  </div>

</header>
