{% set id = 'input-' ~ random() %}

<div class="input__group input__group--select">
    <label for="{{id}}">{{label|default('&nbsp;')}}</label>
    <select id="{{id}}" class="input--select {{(suffix)?'input--has-suffix'}}">
        <option value="AL">Option1</option>
        <option value="WY">Option2</option>
        <option value="WY">Option3</option>
        <option value="WY">Option4</option>
        <option value="WY">Option5</option>
    </select>
    {% if suffix %}
        <span class="suffix">{{suffix}}</span>
    {% endif %}
</div>
