{% set id = 'input-' ~ random() %}

<div class="input__group input__group--checkbox">
    <label for="{{id}}">
        <input type="checkbox" name="" id="{{id}}">
        <span class="checkmark"></span>
        <span class="label">{{label|default('&nbsp;')}}</span>
    </label>
</div>
