{% set id = 'input-' ~ random() %}

<div class="input__group input__group--file">
    <div class="label">{{label}}</div>
    
    {% if not hidelist %}
    <ul class="upload-list is-visible">
        <li class="item item--success">
            <div class="contain">
                <div class="title">testa-konta-parskats.pdf</div>
                <div class="message">Pārskats pieņemts</div>
                
            </div>
        </li>
        <li class="item item--error">
            <div class="contain">
                <div class="title">testa-konta-parskats2.pdf</div>
                <div class="message">Kļūda: Konta pārskatā izvēlēts nepareizs laika periods.</div>
            </div>
        </li>
    </ul>
    {% endif %}

    <label for="{{id}}">
        <p>Ievelciet failu, lai to augšupielādētu</p>
        <span href="" class="btn btn--yellow">Pievienot failu</span>
    </label>
    <input type="file" id="{{id}}">
</div>
