{% set id = 'input-' ~ random() %}

<div class="input__group input__group--radio">
    <label for="{{id}}">
        <input type="radio" name="radio-example" id="{{id}}">
        <span class="label">{{label|default('&nbsp;')}}</span>
    </label>
</div>
