{% set id = 'input-' ~ random() %}
{% set type = type|default('text') %}
{% if disabled is defined %}  {% set disabled = 'disabled="disabled"' %}  {% endif %}
{% set value = value|default('') %}


<div class="input__group">
    {% if label %}
    <label for="{{id}}">{{label}}</label>
    {% endif %}
    <input id="{{id}}" class="{{(suffix)?'input--has-suffix'}}" value="{{value}}" type="{{type}}" placeholder="" {{disabled}}>
    {% if suffix %}
        <span class="suffix">{{suffix}}</span>
    {% endif %}
</div>
