{% extends "layout/layout.twig" %}

{% block page %}
  <section class="section--contact-banner section--spaced bg--image bg--image-darken image-is--contacts">
    <div class="align-center">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h2 class="light">Kontakti</h2>
            </div>
        </div>
        <div class="row center-lg">
            <div class="col-lg-8 text-center">
                <p class="light unbold h4">Ir iespējams nodrošināt kredīta līguma piegādi ar kurjeru visā Latvijas teritorijā!</p>
            </div>
        </div>
    </div>
  </section>
  {% include 'partials/content/section_index_contact.twig' %}

  
  <section class="section--basic section--spaced section--divided">
    <div class="row">
        <div class="col-xs-12 col-lg-7">
            <form action="" class="">
                <div class="form__group">
                    <div class="row">
                        
                        <div class="col-xs-12">
                            <h3>Raksti mums ziņu</h3>
                        </div>
                        <div class="col-xs-12">
                            {% include 'partials/content/form/field--input.twig' with {label:'Jūsu vārds'} %}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {% include 'partials/content/form/field--input.twig' with {label:'Tālruņa numurs'} %}
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            {% include 'partials/content/form/field--input.twig' with {label:'E-pasts'} %}
                        </div>
                        <div class="col-xs-12">
                            <div class="input__group">
                                <label for="input-1158866762">Ziņa</label>
                                <textarea id="input-1158866762" class="" value="" type="text" placeholder="" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            {% include 'partials/content/form/field--checkbox.twig' with {label:'Esmu izlasījis, sapratis un piekrītu manu datu apstrādei atbilstoši SIA “Sefinance Credit” un SIA “Sefinance” <a>datu apstrādes noteikumiem.</a>'} %}
                        </div>
                        <div class="col-xs-12">
                            <br>
                            <button class="btn btn--small btn--rounded">Sūtīt ziņu</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="dividor show-lg col-lg-1"></div>

        <aside class="col-xs-12 col-lg-4">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Rekvizīti</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-12">
                    <div class="text-block">
                        <p><strong>SIA Sefinance</strong></p>
                        <p>Reģ. Nr.: 40103224297</p>
                        <p>Jur. adrese: Tadenavas iela 14, Rīga, LV-1024</p>
                        <p>Banka: Swedbanka AS</p>
                        <p>Konts: LV27HABA0551030261397</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-lg-12">
                    <div class="text-block">
                        <p><strong>SIA Sefinance Credit</strong></p>
                        <p>Reģ. Nr.: 40103782232</p>
                        <p>Jur. adrese: Rīga, Tadenavas iela 14, LV-1024</p>
                        <p>Banka: AS BlueOrange Bank</p>
                        <p>Konts: LV32CBBR1124620600010</p>
                    </div>
                </div>
            </div>
        </aside>
    </div>
  </section>

  <section class="section--map section--no-space bg--gray-neon">
      <div class="row">
          <div class="col-xs-12 col-md-4 align-center">
            <div class="">
              <h3>Adrese</h3>
              <br>
              <br>
              <p>Kr. Valdemāra iela 57/59, Rīga, LV-1010</p>
              <div class="text-block">
                    <p>Darba dienās: <strong>9:00 - 18:00</strong></p>
                    <p>Sestdienās: <strong>10:00 - 14:00</strong></p>
                    <p>Svētdienās: <strong>Brīvs</strong></p>
              </div>
            </div>
          </div>
      </div>
      <div class="map-iframe-contain">
        <iframe  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD9ATSnCFWgv9P-9d_zqQsJaRLH4F1ldQg&q=Sefinance&language=lv" allowfullscreen="" style="border:0" width="100%" height="500" frameborder="0"></iframe>
      </div>
  </section>

{% endblock %}
