{% extends "layout/layout.twig" %}

{% block page %}
  <section class="section--index-banner section--spaced bg--image image-is--index" >
      <div class="row">
          <div class="col col-xs-12 col-md-6 col-lg-4">
            <div class="col-contain">
              <h1 class="light">Paņēmi <br class="hide-xs hide-sm"> par daudz?</h1>
              <h4 class="unbold light">Apvieno kredītus vai pārnāc ar vienu.</h4>
            </div>
          </div>

          <div class="col col-xs-12 hide-md show-lg col-lg-2">
            <br>
          </div>

          <div class="col-xs-12 col-md-6">
              {% include 'partials/content/section_index_calculator.twig' %}
          </div>
      </div>
  </section>

  {# {% include 'partials/content/section_index_contact.twig' %} #}
  
  {% include 'partials/content/section_index_howto.twig' %}
  {% include 'partials/content/section_index_products.twig' %}
  {% include 'partials/content/section_index_about.twig' %}

{% endblock %}
