{% extends "layout/layout.twig" %}

{% block page %}
  
  <section class="section--main-banner section--spaced bg--image bg--image-darken image-is--5">
    
        <div class="align-center" style="width:100%">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="light">Kredīts pret auto ķīlu</h2>
                </div>
            </div>
            <div class="row center-lg">
                <div class="col-lg-8 text-center">
                    <p class="light unbold h4">Iespēja saņemt aizdevumu aktuāliem tēriņiem, ieķīlājot sev piederošu auto.</p>
                </div>
            </div>

            <div class="row center-xs">
                <div class="row col-lg-10">
                    <div class="col-xs-12 col-md align-stretch">
                        <a href="/auto-lizings.html" class="btn btn--hollow btn--wide btn--fullh">Auto līzings</a>
                    </div>
                    <div class="col-xs-12 col-md align-stretch">
                        <a href="/auto-kredits.html" class="btn btn--hollow btn--wide btn--fullh">Auto kredīts</a>
                    </div>
                    <div class="col-xs-12 col-md align-stretch">
                        <a href="/kredits-pret-auto-kilu.html" class="btn btn--primary btn--wide btn--fullh">Kredīts pret auto ķīlu</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section--base section--spaced bg--gray-neon">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-card"></svg>
                    <div class="text">
                        <p class="muted no-space ">Summa līdz</p>
                        <h3 class="color-primary unbold no-space">15&nbsp;000&nbsp;EUR</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-percent"></svg>
                    <div class="text">
                        <p class="muted no-space ">Procenti no</p>
                        <h3 class="color-primary unbold no-space">15%&nbsp;gadā</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-calendar"></svg>
                    <div class="text">
                        <p class="muted no-space ">Termiņš</p>
                        <h3 class="color-primary unbold no-space">3&nbsp;-&nbsp;60&nbsp;mēneši</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-time"></svg>
                    <div class="text">
                        <p class="muted no-space ">Izskatīšanas laiks</p>
                        <h3 class="color-primary unbold no-space">no&nbsp;15&nbsp;minūtēm</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/content/section_inner_body.twig' with {
        pri: [
            'saņem naudu un turpini lietot auto',
            'izdevīgi procenti',
            'līguma piegāde ar kurjeru',
            'pensionāriem līdz 75 gadu vecumam',
        ],
        infot: 'Kredītam var pieteikties, ja esat 18 līdz 75 gadus vecs un Jums ir regulāri ienākumi.'
    } %}
{% endblock %}
