{% extends "layout/layout.twig" %}

{% block page %}
  
  <section class="section--main-banner section--spaced bg--image bg--image-darken image-is--2">
    
        <div class="align-center">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="light">Kredīts remontam</h2>
                </div>
            </div>
            <div class="row center-lg">
                <div class="col-lg-8 text-center">
                    <p class="light unbold h4">Labiekārto savu dzīvokli vai māju un veic mājokļa remontu jau šodien! Izmanto  izdevīgu aizdevumu ar fiksētu procentu likmi un saņem naudu uzreiz pēc līguma parakstīšanas. Savukārt remontdarbus vari brīvi plānot sev piemērotā veidā un apjomā, bez pienākuma atskaitīties aizdevējam.</p>
                    <p class="light unbold h4">Kredīts remontam pieejams dzīvokļu vai māju īpašniekiem bez nepieciešamības ieķīlāt īpašumu. </p>
                </div>
            </div>

            {# <div class="row center-xs">
                <div class="row col-lg-10">
                    <div class="col-xs-12 col-md align-stretch">
                        <a class="btn btn--primary btn--wide btn--fullh">Pret nekustamā īpašuma ķīlu</a>
                    </div>
                    <div class="col-xs-12 col-md align-stretch">
                        <a class="btn btn--hollow btn--wide btn--fullh">Bez ķīlas</a>
                    </div>
                    <div class="col-xs-12 col-md align-stretch">
                        <a class="btn btn--hollow btn--wide btn--fullh">Cits variants</a>
                    </div>
                </div>
            </div> #}
        </div>
    </section>

    <section class="section--base section--spaced bg--gray-neon">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-card"></svg>
                    <div class="text">
                        <p class="muted no-space ">Summa līdz</p>
                        <h3 class="color-primary unbold no-space">15&nbsp;000&nbsp;EUR</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-percent"></svg>
                    <div class="text">
                        <p class="muted no-space ">Procenti no</p>
                        <h3 class="color-primary unbold no-space">9,9%&nbsp;gadā</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-calendar"></svg>
                    <div class="text">
                        <p class="muted no-space ">Termiņš</p>
                        <h3 class="color-primary unbold no-space">12&nbsp;-&nbsp;84&nbsp;mēneši</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-time"></svg>
                    <div class="text">
                        <p class="muted no-space ">Izskatīšanas laiks</p>
                        <h3 class="color-primary unbold no-space">no&nbsp;15&nbsp;minūtēm</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/content/section_inner_body.twig' with {
        pri: [
            'līguma slēgšana internetā',
            'fiksēta procentu likme',
            'nav nepieciešama ķīla',
            'remontējamais īpašums var būt ieķīlāts',
            'nav jāatskaitās par aizdevuma izlietojumu',
        ],
        infot: 'Kredītam var pieteikties, ja esat 20 līdz 75 gadus vecs un Jums ir regulāri ienākumi.'
    } %}
{% endblock %}
