{% extends "layout/layout.twig" %}

{% block page %}
  
  <section class="section--main-banner section--spaced bg--image bg--image-darken image-is--3">
    
        <div class="align-center">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="light">Pārkreditācija</h2>
                </div>
            </div>
            <div class="row center-lg">
                <div class="col-lg-8 text-center">
                    <p class="light unbold h4">Izvērtējiet iespējas pārkreditēt vienu vai vairākus savus kredītus pie cita aizdevēja, lai saņemtu izdevīgākus atmaksas nosacījumus. Šī ir iespēja pārskatīt esošo līgumu nosacījumus, lai samazinātu ikmēneša maksājumus, iegūtu zemāku procentu likmi vai mainītu aizdevuma atmaksas termiņu.</p>
                    <p class="light unbold h4">Pārkreditēt iespējams jebkuru aizdevumu, kas iekļaujas norādītā limita ietvaros.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section--base section--spaced bg--gray-neon">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-card"></svg>
                    <div class="text">
                        <p class="muted no-space ">Summa līdz</p>
                        <h3 class="color-primary unbold no-space">10&nbsp;000&nbsp;EUR</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-percent"></svg>
                    <div class="text">
                        <p class="muted no-space ">Procenti no</p>
                        <h3 class="color-primary unbold no-space">14,9%&nbsp;gadā</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-calendar"></svg>
                    <div class="text">
                        <p class="muted no-space ">Termiņš</p>
                        <h3 class="color-primary unbold no-space">3&nbsp;-&nbsp;84&nbsp;mēneši</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-time"></svg>
                    <div class="text">
                        <p class="muted no-space ">Izskatīšanas laiks</p>
                        <h3 class="color-primary unbold no-space">no&nbsp;15&nbsp;minūtēm</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/content/section_inner_body.twig' with {
        pri: [
            'ātra izskatīšana ',
            'izdevīgi procenti',
            'zemi ikmēneša maksājumi',
            'nav nepieciešama ķīla',
            'līguma piegāde ar kurjeru',
        ],
        infot: 'Kredītam var pieteikties, ja esat 23 līdz 75 gadus vecs un Jums ir regulāri ienākumi.'
    } %}
{% endblock %}
