{% extends "layout/layout.twig" %}

{% block page %}
  
  <section class="section--main-banner section--spaced bg--image bg--image-darken image-is--1">
    
        <div class="align-center">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <h2 class="light">Patēriņa kredīts</h2>
                </div>
            </div>
            <div class="row center-lg">
                <div class="col-lg-8 text-center">
                    <p class="light unbold h4">Vienkāršs aizdevums bez ķīlas, kas ir ātrākais veids, lai iegūtu papildu līdzekļus savu plānu īstenošanai vai negaidītu tēriņu segšanai.  Ērts risinājums mājokļa labiekārtošanai, lielāku pirkumu veikšanai, ceļojumu apmaksai vai jebkuram citam mērķim.</p>
                    <p class="light unbold h4">Patēriņa kredīts tiek izsniegts ar zemāku procentu likmi nekā ātrie īstermiņa aizdevumi. Turklāt tas pieejams arī ārvalstīs strādājošajiem.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section--base section--spaced bg--gray-neon">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-card"></svg>
                    <div class="text">
                        <p class="muted no-space ">Summa līdz</p>
                        <h3 class="color-primary unbold no-space">10&nbsp;000&nbsp;EUR</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-percent"></svg>
                    <div class="text">
                        <p class="muted no-space ">Procenti no</p>
                        <h3 class="color-primary unbold no-space">5,9%&nbsp;gadā</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-calendar"></svg>
                    <div class="text">
                        <p class="muted no-space ">Termiņš</p>
                        <h3 class="color-primary unbold no-space">3&nbsp;-&nbsp;84&nbsp;mēneši</h3>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="icon-in-text icon-in-text--sm--center">
                    <svg class="icon" width="48" height="48" viewBox="0 0 48 48"><use xlink:href="assets/img/icon-sprite.svg#ico-time"></svg>
                    <div class="text">
                        <p class="muted no-space ">Izskatīšanas laiks</p>
                        <h3 class="color-primary unbold no-space">~&nbsp;1&nbsp;minūte</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/content/section_inner_body.twig' with {
        pri: [
            'pieejams ārvalstīs strādājošajiem',
            'līguma piegāde ar kurjeru',
            'izdevīgi procenti',
            'nav nepieciešama ķīla',
            'pieejams pensionāriem līdz 75 gadu vecumam',
        ],
        infot: 'Kredītam var pieteikties, ja esat 20 līdz 75 gadus vecs un Jums ir regulāri ienākumi.'
    } %}
{% endblock %}
