<div class="modal modal--content-centered is-visible" id="success-modal" >
    <div class="modal__backdrop" data-close></div>
    <div class="modal__contain">
        <button class="modal__close_btn" data-close aria-label="Close reveal" type="button">&times;</button>
        
        <div class="modal__header-image">
            <img src="/assets/img/modal-success.svg">
        </div>

        <div class="modal__title">
            <h3 class="green unbold">Paldies, Jūsu aizdevuma pieteikums ir pabeigts un ir sākta piedāvājumu sagatavošana.</h3>
        </div>
        
        <div class="modal__body">
            <p>Izskatiet visus piedāvājumus savā Credify profilā, kā arī par katra aizdevēja atbildi saņemsiet paziņojumu e-pastā un ar SMS.</p>
            <p>Pieejas dati Credify sistēmai ir nosūtīti uz Jūsu norādītajiem kontaktiem, lai jebkurā brīdī variet izvērtēt Jums sagatavotos aizdevuma piedāvājumus. </p>
        </div>

        <div class="modal__footer">
            <div class="btn-group btn-group--center">
                <a href="#" class="btn btn--yellow">Skatīt piedāvājumus</a>
            </div>            
        </div>
    </div>
</div>
